#title {
	text-align: center;
	width: 50%;
	margin: auto;
	padding: 20px;
}

.container {
	display: table;
	border: 1px solid black;
	padding: 10px 10px 10px 10px;
	width: 300px;
	height:300px;
	margin: auto;
	position: static;
	background: linear-gradient(135deg,	rgba(149,149,149,1) 0%,	rgba(13,13,13,1) 46%,	rgba(1,1,1,1) 50%,	rgba(10,10,10,1) 53%,	rgba(78,78,78,1) 76%,	rgba(56,56,56,1) 87%,	rgba(27,27,27,1) 100%);
}

form {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 1px;
}

#topDisplay {
	padding: 5px;
	color: white;
	margin: auto;
}

#display {
	width: 60%;
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 4px;
	font-size: 16px;
	text-align: right;
}

#numberPad {
	margin:auto;
	padding: 5px 5px;
	width: 50%;
}

.buttons {
	color: white;
	background-color: black;
	border: none;
	border-radius: 4px;
}

.buttons:hover {
	color: black;
	background-color: white;
	font-weight: 800;
	border: 1px solid black;
	border-radius: 4px;
	box-shadow: 3px 3px 20px ivory;
	transition-duration: 0.3s;
}

.buttons:active {
	background-color: black;
	transform: translateY(4px);
}

#clear {
	color: black;
	text-shadow: 0 0 5px white, 0 0 5px white;
	background-color: red;
	border: none;
	font-weight: 800;
}

#rndm {
	color: black;
	text-shadow: 0 0 5px white, 0 0 5px white;
	background: linear-gradient(to left, red, orangered, chartreuse, aqua, blue, midnightblue);
	border: none;
	font-weight: 800;
}
