form {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.container {
	display: table;
	border: 1px solid black;
	padding: 40px;
	width: 30%;
	margin: auto;
	background: gray;
}

#display {
	width: 60%;
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 4px;
	font-size: 16px;
	float: inherit;
	text-align: right;
}

#title {
	text-align: center;
	width: 50%;
	margin: auto;
	padding: 20px;
}

.numbers {
	margin:auto;
	padding: 5px 5px;
	width: 50%;
}


