html {
	margin-left: calc(100vw - 100%);
	font-size: 16px;
}

#title {
	text-align: center;
	width: 50vw;
	margin: auto;
	padding: 1rem;
}

.container {
	position: relative;
	/* top: 0; */
	/* bottom: 6rem; */
	/* left: 0; */
	/* right: 0; */
	display: flex;
	/* flex-direction: row; */
	justify-content: center;
	/* flex-wrap: wrap; */
	margin: auto;
	border: 1px solid black;
	/* padding: .2rem; */
	width: 30vw;
	height: 45vh;
	background: gray;
}

form {
	position: relative;
	display: table-cell;
	width: 80%;
	text-align: center;
	vertical-align: middle;
}

#topDisplay {
	width: 80%;
	height: 30px;
	color: lightgrey;
	padding-top: 3px;
	margin: 5px auto 0px auto;
}

#topDisplay:active {
	text-align: right;
}

#topDisplay:active:after {
	color: grey;
	text-shadow: 2px 2px 2px white;
	text-align: right;
}

#display {
	height: 30px;
	width: 80%;
	margin: 0px -4px 2px auto;
	padding: 0px;
	border: 1px solid black;
	font-size: 16px;
	text-align: center;
}

#keyboard {
	position: relative;
	margin: auto auto auto auto;
	width: 83%;
	height: 300px;
	padding: 0px;
	display: table;
}

.buttons {
	color: white;
	background-color: black;
	border: solid 1px darkgrey;
	width: 19%;
	height: 24%;
	margin: 1px;
}

.buttons:hover {
	color: black;
	background-color: white;
	font-weight: 800;
	border: 1px solid black;
	border-radius: 4px;
	box-shadow: 3px 3px 20px ivory;
	transition-duration: 0.3s;
}

.buttons:active {
	color: white;
	background-color: black;
	transform: translateY(4px);
}

.buttons:focus {
	outline: 0;
}

#rndm {
	color: black;
	font-weight: 800;
	text-shadow: 0 0 5px white, 0 0 5px white;
	background: linear-gradient(to left, red, orangered, chartreuse, aqua, blue, midnightblue);
	border: 1px solid black;
	width: 49%;
}

#clear {
	color: black;
	font-weight: 800;
	text-shadow: 0 0 5px white, 0 0 5px white;
	background-color: red;
	border: 1px solid black;
	width: 49%;
}

#logo {
	background: url("/Dammitdathan.jpg") no-repeat center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: -1;
	width: 250px;
	height: 150px;
	border: dotted 1px lightgrey;
}